body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style: none;
    display: flex;
    background-color: #333;
    padding: 10px;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #eee;
}
header img {
    height: 60px;
    vertical-align: middle;
}
section {
    padding: 20px;
}
section#estrutura {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
}
section#estrutura article {
    width: 30%;
}
section#estrutura a {
    display: inline-block;
    margin-top: 10px;
    color: #00f;
    text-decoration: underline;
}
section#equipa div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
section#equipa article {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}
section#equipa img {
    width: 100%;
    height: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}
